<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Dar Alta Huesped</title>
  </head>
<!-- Modal de éxito -->
<div id="modalExito" class="modal-exito">
  <div class="modal-contenido">
    <h2>¡Huésped cargado exitosamente!</h2>
    <p id="mensajeExito">
      El huésped ha sido satisfactoriamente cargado al sistema.
      ¿Desea cargar otro huésped?
    </p>
    <div class="modal-botones">
      <button id="btnOtro">Cargar otro huésped</button>
      <button id="btnSiguiente">Siguiente</button>
    </div>
  </div>
</div>

  <body>
    <h1>Formulario de Alta de Huesped</h1>
    <form id="huespedForm">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombres" required /><br /><br />

      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" required /><br /><br />

      <label for="tipoDocumento">Tipo de Documento:</label>
      <select id="tipoDocumento" name="tipoDocumento" required>
        <option value="DNI">DNI</option>
        <option value="PASAPORTE">Pasaporte</option>
        <option value="LE">Libreta de Enrolamiento</option>
        <option value="LC">Libreta Cívica</option>
        <option value="OTRO">Otro</option></select
      ><br /><br />
      <label for="nroDocumento">Número de Documento:</label>
      <input
        type="text"
        id="nroDocumento"
        name="nroDocumento"
        required
      /><br /><br />

      <label for="cuit">CUIT:</label>
      <input type="text" id="cuit" name="cuit" /><br /><br />

      <label for="posicionIVA">Posición frente al IVA:</label>
      <select id="posicionIVA" name="posIVA" required>
        <option value=""></option>
        <option value="Responsable_Inscripto">Responsable Inscripto</option>
        <option value="Monotributista">Monotributista</option>
        <option value="Consumidor_Final">Consumidor Final</option>
        <option value="No_Responsable">No Responsable</option>
        <option value="Exento">Exento</option>
        <option value="OTRO">Otro</option></select
      ><br /><br />

      <label for="fechaDeNacimiento">Fecha de Nacimiento (dd/mm/aaaa):</label>
      <input
        type="text"
        id="fechaDeNacimiento"
        name="fechaDeNacimiento"
        placeholder="dd/mm/aaaa"
        required
      /><br /><br />

      <label for="direccion">Dirección:</label><br />
      <input
        type="text"
        id="calle"
        name="calle"
        placeholder="Calle"
        required
      /><br /><br />
      <input
        type="number"
        id="numero"
        name="numero"
        placeholder="Número"
        required
      /><br /><br />
      <input
        type="number"
        id="codigoPostal"
        name="codigoPostal"
        placeholder="Código Postal"
        required
      /><br /><br />
      <input
        type="number"
        id="piso"
        name="piso"
        placeholder="Piso"
      /><br /><br />
      <input
        type="text"
        id="nroDepartamento"
        name="nroDepartamento"
        placeholder="Número Departamento"
      /><br /><br />
      <input
        type="text"
        id="localidad"
        name="localidad"
        placeholder="Localidad"
        required
      /><br /><br />
      <input
        type="text"
        id="provincia"
        name="provincia"
        placeholder="Provincia"
        required
      /><br /><br />
      <input
        type="text"
        id="pais"
        name="pais"
        placeholder="País"
        required
      /><br /><br />

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" required /><br /><br />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" /><br /><br />

      <label for="ocupacion">Ocupación:</label>
      <input type="text" id="ocupacion" name="ocupacion" required /><br /><br />

      <label for="nacionalidad">Nacionalidad:</label>
      <input
        type="text"
        id="nacionalidad"
        name="nacionalidad"
        required
      /><br /><br />

      <div class="form-buttons">
        <button type="submit" class="btn btn-primary">Siguiente</button>
        <button type="button" id="cancelar" class="btn btn-secondary">Volver</button>
      </div>
    </form>
    <script src="/js/utils-fecha.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
